/**                                        **\
                      RESET                       
\**                                        **/
*, *::before, *::after{ box-sizing: border-box; }

body, ul {
    margin: 0;
    padding: 0;
}
/**                                        **\
                      BASE                       
\**                                        **/
body {
    font-size: 16px;
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.8706);
    font-weight: 500;
    text-align: justify;
    line-height: 1.6;
}

.clearfix { clear: both; }

.container {
    margin: 0 auto;
    max-width: 940px;
}

.body { 
    display: flex;
    margin-top: 43px;
 }

/**                                        **\
                      HEADER                       
\**                                        **/
.header {
    height: 91px;
    background-color: rgba(0, 0, 0, 0.0235);
    padding: 30px;
    transition: color .3s;
}
.header-menu {
    float: left;
}
.header-menu a {
    color: #9F9F9F;
    text-decoration: none;
    padding: 53px;
}
.header-menu a:hover, .header-menu a.active {
    color: #000;
}
.header-social {
    float: right;
}
.header-social a{
    text-decoration: none;
    padding: 0 12px;
    opacity: 0.5;
}
.header-social a:hover{
    opacity: 1;
}

/**                                        **\
                      BANNER                       
\**                                        **/
.banner {
    height: 336px;
    background: no-repeat center center / cover url('./img/header.jpg');
}

/**                                        **\
                      MAIN                       
\**                                        **/
.main {
    width: calc(100% - 378px);
    background: #FFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.article {
    position: relative;
    display: flex;
    margin: 21px 100px;
}
.article:first-child {
    margin-top: 0px;
}
.article-img {
    margin-right: 20px;
}
.article-date {
    color: rgba(0, 0, 0, 0.6);
}
.article-title {
    margin: 5px 0 5px 0;
}
.article-title a{
    text-decoration: none;
    color: #000;
    opacity: 0.8;
}
.article-title a:hover{
    opacity: 1;
}

/**                                        **\
                      SIDEBAR                       
\**                                        **/
.sidebar {
    width: 378px;
    background: #FBFBFB;
    padding: 0 50px 0 57px;
}
.sidebar hr {
    border:none;
    height: 1px;
    background: #C4C4C4;
    margin: 50px 0;
}
.sidebar-title {
    font-size: 1.875rem;
    color: #000;
    margin: 15px 0;
}
.sidebar-title:first-child {
    margin-top: 0;
}
.sidebar li {
    list-style-type: none;
    padding-bottom: 17px;
}
.sidebar a {
    font-size: 1rem;
    text-decoration: none;
    color: #9F9F9F;
}
.sidebar a:hover {
    color: #000;
}


/**                                        **\
                      FOOTER                       
\**                                        **/
.footer {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}


@media only screen and (max-width: 950px){
    .header {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;

    }
    .header-menu, .header-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        float: none;
    }
    .header-menu a {
        padding: 10px 0;
    }
    .body {
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    .container {
        width: 100%;
    }
    .main {
        width: 100%;

    }
    .sidebar {
        margin: 30px auto;
        text-align: center;

    }
    .article {
        flex-direction: column;
        text-align: center;
        margin: 60px;
        margin: 0;
    }
    .article-img {
        width: 100%;
        margin: 0 auto;
    }
    .article-img {
        width: 70%;
    }
}