@import "../../../assets/scss/variables";

.skills-values {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px;
}

.skill-item {
  margin: 20px 20px;
  position: relative;
  height: 200px;
  width: 200px;
}
canvas {
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.skill-input {
  position: absolute;
  top: 50%;
  left: -12px;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 0;
  margin-top: calc(-19px/2);
  font-size: 19px;

  background: none;
  color: $color-clair;
  text-transform: uppercase;
  border: none;
  outline: none;
}

@media only screen and (max-width: 900px) {

  .skills-values {
    flex-direction: column;
  }

  .skill-item {
    margin: 10px auto;
  }
}