<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Mon Application Meteo</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="css/app.css">

</head>

<body class="sunny">
        <div class="container-fluid header"></div>

        <section class="meteo">
            <h1>Mon Application Meteo</h1>
            <div class="meteo-content">
                <p id="ville"></p>
                <a href=""><p id="temperature"></p></a>
                <p id="temps"></p>
                <img src="" alt="">
                <p id="icon"></p>
            </div>
            <p id="footer">Crée par Gaetan Ritel</p>
        </section>

        <footer class="container-fluid footer"></footer>

    <script src="./js/app.js"></script>
</body>

</html>